<%= form_for([@post, @post.comments.build], :html => { :style => "margin: 35px 0 25px" } ) do |f| %>
  <div class="form-group">
    <%= f.text_area(:body, placeholder: "Add a comment",  class: "form-control") %>
  </div>
  <%= f.submit "Add Comment", class: "btn btn-primary"%>
<% end %>
