<section class="d-flex justify-content-between align-items-center pb-3">
  <h3 style="margin: 0">My Posts</h3>
  <%= link_to "Create new post", new_post_path, class: "btn btn-primary" %>
</section>
<section>
  <ul class="list-group list-group-flush">
    <% @posts.each do |post| %>
    <li class="list-group-item">
      <%= link_to post.title, post, class: "d-block", style: "font-size: 26px" %>
      <small style="font-size: 90%"><%= post.created_at.strftime("%B %d, %Y") %></small>
    </li>
    <% end %>
  </ul>
</section>
